.banner{
    background-color: goldenrod;
    width :50%;
    height :50px;
    margin-bottom :50px;
}

.banner-text{
    top : 50%
    left : 50%
    position : absolute;
    transform :transform ;
}